!/.ssh/authorized_keys
!/.ssh/config
/**/*.swp
/.CFUserTextEncoding
/.DS_Store
/.Trash
/.android
/.anyconnect
/.aptible/
/.asdf
/.aws
/.bash_history
/.bash_sessions
/.bashrc
/.bin
/.bundle/cache
/.cache
/.chromedriver-helper
/.cocoapods
/.composer
/.config/coc/*
!/.config/coc/ultisnips
/.config/configstore
/.config/fish/completions/
/.config/fish/fish_variables
/.config/fish/fishd*
/.config/fish/functions/fish_user_key_bindings.fish
/.config/fish/functions/fzf_key_bindings.fish
/.config/fish/themes/
/.config/gcloud
/.config/gh
/.config/glab-cli
/.config/heroku
/.config/hub
/.config/nvim/lazy-lock.json
/.config/nvim/plugin/packer_compiled.lua
/.config/nvim/spell/*.spl
/.config/tmux/plugins
/.config/wireshark
/.config/yarn
/.cpan
/.cups
/.docker
/.dotfiles
/.dropbox
/.elm
/.emulator_console_auth_token
/.eslint_d
/.expo
/.fly/
/.fzf.bash
/.fzf.zsh
/.fzf/
/.gem
/.gist-vim
/.gitsh_history
/.gnupg
/.gradle
/.heroku
/.hex
/.irb_history
/.ivy2
/.kube
/.lesshst
/.local
/.mix
/.mysql_history
/.netrc
/.ngrok
/.ngrok2
/.node-gyp
/.npm
/.nvimlog
/.prettierd
/.pry
/.pry_history
/.psql
/.psql_history-*
/.puma-dev
/.python_history
/.rbenv
/.react-native-cli
/.rediscli_history
/.rnd
/.rubies
/.ruby-version
/.s3bucket
/.sbt
/.scala_history
/.solargraph
/.ssh/**/*
/.subversion
/.swiftpm
/.synvert
/.terminfo
/.terraform.d/
/.tldrc
/.vale
/.w3m
/.webdrivers
/.weechat/certs
/.weechat/logs
/.weechat/script/plugins.xml.gz
/.weechat/sec.conf
/.weechat/weechat.log
/.wget-hsts
/.yarnrc
/.zcompdump
/.zoomus
/.zsh-histfile
/.zsh_history
/.zsh_sessions
/.zshrc
/.zshrc.zni
/Applications
/Code
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Resources
/Sync
/VirtualBox VMs
