[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "rbenv/plugins/ruby-build"]
	path = rbenv/plugins/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule "rbenv/plugins/rbenv-default-gems"]
	path = rbenv/plugins/rbenv-default-gems
	url = git://github.com/sstephenson/rbenv-default-gems.git
[submodule "rbenv/plugins/rbenv-aliases"]
	path = rbenv/plugins/rbenv-aliases
	url = git://github.com/tpope/rbenv-aliases.git
[submodule "rbenv/plugins/rbenv-communal-gems"]
	path = rbenv/plugins/rbenv-communal-gems
	url = git://github.com/tpope/rbenv-communal-gems.git
[submodule "rbenv/plugins/rbenv-ctags"]
	path = rbenv/plugins/rbenv-ctags
	url = git://github.com/tpope/rbenv-ctags.git
