/.CFUserTextEncoding
/.DS_Store
/.Trash
/.anyconnect
/.asdf
/.bash_history
/.bashrc
/.bin
/.bundle/cache
/.cache
/.chromedriver-helper
/.config/configstore
/.config/direnv
/.config/fish/fish_variables
/.config/fish/fishd*
/.config/fish/functions/fish_user_key_bindings.fish
/.config/fish/functions/fzf_key_bindings.fish
/.config/heroku
/.config/hub
/.config/wireshark
/.cpan
/.cups
/.dotfiles
/.dropbox
/.elm
/.fzf.bash
/.fzf.zsh
/.fzf/
/.gem
/.gist-vim
/.gitsh_history
/.heroku
/.hex
/.lesshst
/.local/share/dasht
/.local/share/fish
/.local/share/heroku
/.local/share/nvim
/.local/share/pry
/.local/share/ruby-advisory-db
/.mix
/.mysql_history
/.netrc
/.ngrok
/.ngrok2
/.node-gyp
/.npm
/.nvimlog
/.pry
/.pry_history
/.psql
/.psql_history
/.puma-dev
/.rnd
/.rubies
/.ruby-version
/.ssh/id_rsa
/.ssh/id_rsa.pub
/.ssh/known_hosts
/.subversion
/.terminfo/73/screen-256color
/.tmux/plugins
/.vim/.netrwhist
/.vim/autoload/plug.vim
/.vim/plugged
/.viminfo
/.w3m
/.wget-hsts
/.yarnrc
/.zcompdump
/.zsh-histfile
/.zsh_history
/.zshrc
/.zshrc.zni
/Applications
/Code
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Resources
/Sync
/VirtualBox VMs
