snippet "Desc" "describe" do
require "spec_helper"

RSpec.describe "$1" do
end
endsnippet

snippet "desc" "describe"
describe "$1" do
	$0
end
endsnippet

snippet eq "expect().to eq()" do
expect($1).to eq($2)
endsnippet
