snippet allow
allow(${1:object}).to receive(${2:method}) { ${0:result} }
endsnippet

snippet context
context "${1:description}" do
	$0
end
endsnippet

snippet describe
describe "${1:description}" do
	$0
end
endsnippet

snippet expect
expect(${1:expected}).to ${2:eq}(${0:actual})
endsnippet

snippet it
it "${1:description}" do
	$0
end
endsnippet

snippet RSpec.describe
RSpec.describe ${1:description} do
	$0
end
endsnippet
